footer.footer
    .container
        .footer-title &copy; 2020 &mdash; Little Kaoy
        .footer-desc Веб-разработик из Москвы, занимаюсь версткой и созданием сайтов. Этот сайт сделала в рамках прохождения обучения по верстке на курсах от 
            a(href="https://webcademy.ru/") WebCademy.ru

