.navigation
    a(href="#").navigation__logo
        span.underscore LK
    //- .navigation__menu
    nav.navigation__nav
        a(href="#").navigation__nav-item Главная
        a(href="#").navigation__nav-item Работы
        a(href="#").navigation__nav-item Контакты
    .navigation__social
        a(href="#").navigation__social-item.navigation__social-item--linkedin <i class="fab fa-linkedin-in"></i>
        a(href="#").navigation__social-item.navigation__social-item--github <i class="fab fa-github"></i>
        a(href="#").navigation__social-item.navigation__social-item--vk <i class="fab fa-vk"></i>
    .toggle-menu
            span
            