.navigation
    a(href="index.html").navigation__logo
        span.underscore LK
    nav.navigation__nav
        a(href="index.html").navigation__nav-item Главная
        a(href="#portfolio").navigation__nav-item Работы
        a(href="#").navigation__nav-item Контакты
    .navigation__social
        a(href="#").navigation__social-item.navigation__social-item--linkedin <i class="fab fa-linkedin-in"></i>
        a(href="https://github.com/LittleKaoy" target="_blank").navigation__social-item.navigation__social-item--github <i class="fab fa-github"></i>
        a(href="https://vk.com/littlekaoy" target="_blank").navigation__social-item.navigation__social-item--vk <i class="fab fa-vk"></i>
    .navigation__menu
        a(href="index.html").navigation__logo
            span.underscore LK
        ul.menu-list
            li.menu-list__item 
                a(href="#") Услуги 
            li.menu-list__item  
                a(href="#portfolio") Работы           
            li.menu-list__item    
                a(href="#") Контакты
        include ./_social.pug
        a(href="mailto:howkiens@gmail.com").services__mail howkiens@gmail.com
    .toggle-menu
            span
            