.navigation
    a(href="#").navigation__logo
        span.underscore LK
    //- .navigation__menu
    nav.navigation__nav
        a(href="#").navigation__nav-item Главная
        a(href="#").navigation__nav-item Работы
        a(href="#").navigation__nav-item Контакты
    .navigation__social
        a(href="#").navigation__social-item <i class="fa fa-linkedin fa-2x"></i>
        a(href="#").navigation__social-item <i class="fa fa-github fa-2x"></i>
        a(href="#").navigation__social-item <i class="fa fa-vk fa-2x"></i>
    .toggle-menu
            span
            