.portfolio(id="portfolio")
    .container    
        .main-heading 
            span.underscore Портфолио
        .sort-list
            button.sort-item.active Все работы
            button.sort-item Bootstrap
            button.sort-item WordPress
            button.sort-item Frontend
        .projects
            +project-card("https://littlekaoy.000webhostapp.com/project-forest-travel/main-page.html", "project-1.jpeg", "project-1", "Верстка “Форест тревел”", "Верстка многостраничного сайта.")
            +project-card("https://littlekaoy.github.io/project-unit/", "project-2.jpeg", "project-2", "Сайт для коворкинга “UNIT”", "Верстка лендинга.")
            +project-card("https://littlekaoy.github.io/portfolio/", "project-3.jpg", "project-3", "Верстка “Портфолио”", "Верстка лендинга.")
            +project-card("https://littlekaoy.000webhostapp.com/project-moto/moto.html", "project-4.jpg", "project-4", "Верстка “Мир авто”", "Верстка карточки с товаром.")
            +project-card("https://littlekaoy.000webhostapp.com/project-card-book/card-book.html", "project-5.jpg", "project-5", "Верстка “Мир книг”", "Верстка карточки с товаром.")
        a(href="#").projects-all Смотреть все работы