.social
    a(href="https://github.com/LittleKaoy" target="_blank").social-item.social-item--github <i class="fab fa-github" aria-hidden="true"></i>
    a(href="#").social-item.social-item--telegram <i class="fab fa-telegram" aria-hidden="true"></i>
    a(href="https://vk.com/littlekaoy" target="_blank").social-item.social-item--vk <i class="fab fa-vk" aria-hidden="true"></i>
    a(href="#").social-item.social-item--facebook <i class="fab fa-facebook-f" aria-hidden="true"></i>