mixin project-card(href, imgsrc, alt, title, subtitle)

    a(target="_blank" href="" + href).project-card
        .project-card__preview
            .project-card__hover
                .button.see-more Смотреть проект
            img(src="img/projects/" + imgsrc, alt="" + alt)
        .project-card__title=title
        .project-card__subtitle=subtitle